<div class="bg-primary uk-light">
    <nav class="uk-navbar-container uk-navbar-transparent uk-margin" uk-navbar>
        <div class="uk-navbar-left">

            <span class="uk-navbar-item uk-logo">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 340" class="middleman-logo" aria-labelledby="middleman-logo__title" role="img">
                    <title id="middleman-logo__title">Middleman</title>
                    <path class="middleman-logo__top-left-bar" fill-opacity=".45" d="M0 40L200 0v30L0 60z"/>
                    <path class="middleman-logo__top-right-bar" fill="#fff" d="M200 0l200 40v20L200 30z"/>
                    <path class="middleman-logo__left-m" fill-opacity=".45" d="M0 78v184l45 5V152l45 83 47-83v129l53 7V52l-57 8-43 83-43-70z"/>
                    <path class="middleman-logo__right-m" fill="#fff" d="M400 78v184l-45 5V152l-45 83-47-83v129l-53 7V52l57 8 43 83 43-70z"/>
                    <path class="middleman-logo__bottom-left-bar" fill-opacity=".45" d="M0 300l200 40v-30L0 280z"/>
                    <path class="middleman-logo__bottom-right-bar" fill="#fff" d="M200 340l200-40v-20l-200 30z"/>
                </svg>
            </span>
            <%= link_to data.config.site_name, '/index.html', class: 'uk-navbar-item uk-logo uk-visible@m' %>

        </div>

        <div class="uk-navbar-right">

            <ul class="uk-navbar-nav uk-visible@m">
                <% data.navigation_links.each do |link| %>
                    <li>
                        <%= link_to link.label, link.url %>
                        <% if link.sub %>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <% link.sub.each do |sub_link| %>
                                        <li>
                                            <%= link_to sub_link.label, sub_link.url %>
                                        </li>
                                    <% end %>
                                </ul>
                            </div>
                        <% end %>
                    </li>
                <% end %>
            </ul>

            <a class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon uk-toggle href="#offcanvas-navbar"></a>

        </div>
    </nav>
</div>

<div id="offcanvas-navbar" uk-offcanvas="overlay: true; mode: push">
    <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <%= link_to data.config.site_name, '/index.html', class: 'uk-navbar-item uk-logo' %>

        <ul class="uk-nav">
            <li class="uk-nav-header">Menu</li>
            <% data.navigation_links.each do |link| %>
                <li class="uk-parent">
                    <%= link_to link.label, link.url %>
                    <% if link.sub %>
                        <ul class="uk-nav-sub">
                            <% link.sub.each do |sub_link| %>
                                <li>
                                    <%= link_to sub_link.label, sub_link.url %>
                                </li>
                            <% end %>
                        </ul>
                    <% end %>
                </li>
            <% end %>
        </ul>

    </div>
</div>